body {
background: #F3904F; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F3904F , #3B4371); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F3904F , #3B4371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;
}
.test {
  color: orange;
}
.heading {

}
.white {
  color: #ecf0f1;
  font-size: 72px;
}
#orange {
  color: #e67e22;
}
